*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, #ED1768 0%, #372E7E 100%);
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
}

.conejoImagen{
  position: relative;
  padding: 20px;
  width: 50%;
  height: 100%;
  background: url("./recursos/descargatuAPP.webp") no-repeat center;
  background-size: contain;
}

.conejoImagen a{
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  bottom: 100px;
  margin: auto;
  background: url("./recursos/googPlay.webp");
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background-size:cover;
  background-repeat: repeat-x;
  animation: googlePlay 15s linear infinite;
  box-shadow: inset 0px 0 30px 15px rgba(255,255,255,0.3), 0px 0px 20px #fff;
}

@keyframes googlePlay {
  0% {
    background-position: 0 0;
  }
  100%{
    background-position: 1000px 0px;
  }
}

@media (max-width: 770px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    margin: auto;
    height: 22%;
    width: 52%;
  }
}


@media (max-width: 650px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 35%;
    left: 40%;
    margin: auto;
    height: 18%;
    width: 52%;
  }
}

@media (max-width: 540px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 35%;
    left: 42%;
    margin: auto;
    height: 15%;
    width: 50%;
  }
}

@media (max-width: 490px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 28%;
    left: 45%;
    margin: auto;
    height: 12%;
    width: 45%;
  }
}

@media (max-width: 380px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: auto;
    height: 8%;
    width: 40%;
  }
} */

@media (max-height: 850px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 350px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 180px;
    width: 180px;
  }
}

@media (max-height: 750px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 350px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 180px;
    width: 180px;
  }
}

@media (max-height: 630px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 350px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 150px;
    width: 150px;
  }
}

@media (max-height: 550px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 310px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 130px;
    width: 130px;
  }
}

@media (max-height: 470px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 310px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 120px;
    width: 120px;
  }
}

@media (max-height: 450px){
  .conejoImagen a{
    display: block;
    position: absolute;
    top: 250px;
    left: 50%;
    bottom: 100px;
    margin: auto;
    height: 100px;
    width: 100px;
  }
}
/* @media (min-width: 440px){
  a{
    display: block;
    margin: auto;
    position: absolute;
    left: 160px;
    bottom: 200px;
    background: url("./recursos/googPlay.png");
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size:contain;
    background-repeat: repeat-x;
    transform: rotate(-10deg);
    box-shadow: inset 0px 0 20px rgba(255,255,255,0.4), 0px 0px 50px #FF0066;
    animation: googlePlay 10s linear infinite;
  }

  a:hover{
    transition: 1.5s;
    transform: scale(1.1);
  }

  @keyframes googlePlay {
    0% {
      background-position: 0 0;
    }
    100%{
      background-position: 200px 0px;
    }
  } */

/* }  */


/* .play{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  transform-style: preserve-3d;
  animation: ruleta 10s linear infinite;
} */

/* .play img{
  position: absolute;
  top: 0px;
  left: 0px;
  background: #FF0066;
  color: #fff;
  font-size: 3em;
  transform-origin:center;
  background-repeat: repeat-x;
  transform-style: preserve-3d;
  padding: 5px 15px;
  transform: rotateY(calc(var(--i) * calc(360deg/1))) translateZ(110px);
  transform: rotateY(360deg) translateZ(110px);
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.pressHere span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateZ(-5px);
}


@keyframes ruleta {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(5deg) translateY(-20px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(5deg) translateY(-20px);
  }
}
/*
@media( max-width: 480px){
  .conejoContainer{
    position: relative;
    width: 400px;
    height: 100vh;
  }

  .conejoContainer img{
    width: auto;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .conejoContainer a{
    display: block;
    width: 200px;
    height: 120px;
    position: absolute;
    bottom: 250px;
    left: 120px;
    animation: pulsaAqui 2s linear infinite;
  }

  a img{
    width: 100%;
    height: 100%;
    transform: rotate(-10deg);
  }

  @keyframes pulsaAqui{
    from { transform: scale( 1);}
    to { transform: scale( 1.02);}
  }
}


@media screen and( max-width: 720px){
  .conejoContainer{
    width: auto;
  }
} */
